__pycache__

.vscode/launch.json

#folders
.idea
pipelining-processor/work
inputs/inputTEST.txt
pipelining-processor/out.mem
assembler/out.mem
pipelining-processor/transcript
# files
*.wlf
*.xlsx
*.vstf
*.cr.mti
*.mpf
*.vhd.bak
.vs/
.idea/workspace.xml
